{#
    Global vars:
    - labels - UI labels
    - area.type
    - area.tasks
    - last (if this is the last area)
#}
{% for task in area.tasks %}
<tr class="planner__area {% if not last %}planner__area--not-last{% endif %}">
    {% if loop.index == 1 %}
    <td rowspan="{{area.tasks|length}}">{{labels[area.type]}}</td>
    {% endif %}
    <td>
        {{ include('task.twig') }}
    </td>
    <td class="checkboxes">
        <input type="checkbox" />
        <input type="checkbox" />
    </td>
</tr>
{% endfor %}