<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/pdf.css">
</head>
<body>
    <h1>{{name}}</h1>
    <table class="planner">
        <thead>
            <tr>
                <th>Lernbereich</th>
                <th>Arbeiten</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for area in areas %}
                {% with { last: loop.index == areas|length } %}
                    {{ include('area.twig') }}
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
