{#
    Global vars:
    - labels
    - task.description
    - task.category
    - task.social
#}
<span>
        {{task.description}}
        {{labels[task.category]}}
        {{labels[task.social]}}
</span>